<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- classpath:mapper/TaskMapper.xml -->
<mapper namespace="com.wh51net.text.dao.NoteDao">

	<!-- 插入项目信息 -->
	<insert id="save" parameterType="com.wh51net.text.entity.Note">

		INSERT INTO t_text
		(
		content
		)
		values(
		#{content}
		)
	</insert>
	
</mapper> 